.container{
  margin-left: 5%;
  margin-right: 5%;
}

.hero-text {
    width: 50%;
    min-width: 500px;
    margin: 50px auto;
    text-align: center;
    letter-spacing: 2px;
}

.hero-text h2 {
    max-width: 450px;
}

.hero-text h1,
.hero-text h2,
.hero-text p {
    color: #ffffff;
    text-align: left;
    padding-bottom: 15px;
    line-height: 70px;
}

.hero-text h1 {
    animation: bounceInDown 1.2s ease-in-out 0.5s backwards;
}

.hero-text i {
    animation: bounceInRight 1.2s ease-in-out 0.5s backwards;
}

#view-work {
    color: #ffffff;
    font-size: 26px;
}

.hero-content {
    position: relative;
    min-height: 675px;
    background-image: url(../images/background-image.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

h3{
  text-align: left;
}

.button{
  text-align: center;
  margin:5% 0% 5% 0%;
}

/*SIZING*/

.middle {
  margin: 5% 0% 5% 25%;
  width: 50%;
}

.one-third {
  display: inline-block;
  text-align: center;
  width: 20% ;
  margin: 0% 4% 5% 4%;
}

.homescreen {
  margin-left: 10%;
}

.one-half {
  display: inline-block;
  width: 35%;
}
.left {
  margin: 5% 5% 5% 5%;

}
.right{
margin: 5% 5% 5% 5%;
}

.title {
  background-color: #99B2AF;
  padding:20px 10px 20px 10px;
}

.gap {
  margin-top: 2%;
}


.up {
  display: inline-block;
  width: 20% ;
  margin: 5% 10% 5% 15%;
}

.left-side {
  display: inline-block;
  width:35%;
  margin: 5% 5% 5% 5%;
}

.right-side{
display: inline-block;
width:35%;
margin: 5% 5% 5% 5%;
}

.option{
  display: inline-block;
  width:30%;
  margin: 0% 5% 5% 10%;
}

.one {
  margin-left: 17%;
}



/*DETAILS*/

.details h2{
  text-decoration: underline;
  text-align: left;
}
.details p{
  text-align: left;
}

.details{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.role{
  margin-left: 12%;
}

.two-sections {
  background-color: #99B2AF;
}

.center {
  text-align: center;
}

.color {
  color:#99B2AF;
}

.final {
  margin: 5% 5% 5% 5%;
}

.conclusion p{
  width:50%;
  margin: 5% 10% 5% 25%;
}

figcaption{
  padding-left: 12%;
}

/*IMAGES */
.solution img{
  width: 20%;
  margin: 5% 30% 0% 40%;
}

.survey img{
  margin: 2.5% 25% 0% 27%;
}

.up img{
 padding-left: 10%;
}

.uf-img img {
  padding-left: 50px;
}

.logo-sketch {
  margin: 5% 5% 0% 8%;
}

.logo-png {
  margin: 0% 5% 5% 30%;
}
.pref img {
  width: 340px;
  height:410px;
}

.mobile {
  display: none;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 90%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}





/*SIZING*/

@media (max-width: 850px) {
  .hero-text {
      min-width: 300px;
  }
  .hero-content {
      min-height: 600px;
      background-position: 60% 50%;
  }
  .hero-content img {
      width: 25%;
      height: auto;
  }
  .hero-text h1 {
      font-size: 36px;
  }
  .hero-text h2 {
      font-size: 20px;
      line-height: 26px;
  }
  .hero-text p {
      font-size: 18px;
  }
  .hero-text h1,
  .hero-text h2,
  .hero-text p {
      padding-bottom: 10px;
  }
  h1 {
      font-size: 30px;
}
  .middle {
    width: 80%;
    margin:10%;
  }

  .middle p {
    font-size: 14px;
  }

  .button a {
      text-decoration: none;
      color: #ffffff;
      background-color: #465D5D;
      border: 3px solid #465D5D;
      padding: 10px 10px;
      font-size: 14px;
      font-weight: 400;
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
   .one-third {
     text-align: center;
     width: 30% ;
     margin: 0% 5% 5% 5%;
   }
   .role{
     margin-right: 0%;
     margin-left: 10%;
   }

   .tools {
     margin-right: 10%;
   }

   .one-half {
     width: 60%;
   }

   .right {
     margin-left: 10%;
   }

   .survey img{
     width:70%;
     margin: 2.5% 15% 0% 15%;
   }

   .up {
     display: inline-block;
     width: 80% ;
     margin: 5% 10% 5% 15%;
   }

   .up img{
    padding-left: 20%;
   }

   .uf-img img {

     margin: 2.5% 10% 0% 10%;
   }

   .one-of-three{
     width: 80% ;
     margin: 5% 10% 5% 10%;
   }

   figcaption{
     padding-left: 0%;
   }

   .left-side {
     width:80%;
     margin: 5% 10% 5% 10%
   }
   .right-side{
     width:80%;
     margin: 5% 10% 5% 10%
   }

   .logo-sketch {
     width:90%;
     margin: 5% 5% 5% 5%;
   }

   .logo-png {
     width:80%;
     margin: 0% 10% 10% 10%;
   }

   .conclusion p{
     width:80%;
     margin: 5% 10% 5% 10%;
   }

   .two {
     margin-left: 17%;
   }
}

@media (max-width: 770px) {
    .hero-text {
        min-width: 300px;
    }
    .hero-content {
        min-height: 600px;
        background-position: 60% 50%;
    }
    .hero-content img {
        width: 25%;
        height: auto;
    }
    .hero-text h1 {
        font-size: 36px;
    }
    .hero-text h2 {
        font-size: 20px;
        line-height: 26px;
    }
    .hero-text p {
        font-size: 18px;
    }
    .hero-text h1,
    .hero-text h2,
    .hero-text p {
        padding-bottom: 10px;
    }
    h1 {
        font-size: 30px;
  }
    .middle {
      width: 80%;
      margin:10%;
    }

    .middle p {
      font-size: 14px;
    }

    .button a {
        text-decoration: none;
        color: #ffffff;
        background-color: #465D5D;
        border: 3px solid #465D5D;
        padding: 10px 10px;
        font-size: 14px;
        font-weight: 400;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
     .one-third {
       text-align: center;
       width: 30% ;
       margin: 0% 5% 5% 5%;
     }
     .role{
       margin-right: 0%;
       margin-left: 10%;
     }

     .tools {
       margin-right: 10%;
     }

     .one-half {
       width: 60%;
     }

     .right {
       margin-left: 10%;
     }

     .survey img{
       width:70%;
       margin: 2.5% 15% 0% 15%;
     }

     .up {
       display: inline-block;
       width: 80% ;
       margin: 5% 10% 5% 15%;
     }

     .up img{
      padding-left: 20%;
     }

     .uf-img img {

       margin: 2.5% 10% 0% 10%;
     }

     .one-of-three{
       width: 80% ;
       margin: 5% 10% 5% 10%;
     }

     figcaption{
       padding-left: 0%;
     }

     .left-side {
       width:80%;
       margin: 5% 10% 5% 10%
     }
     .right-side{
       width:80%;
       margin: 5% 10% 5% 10%
     }

     .logo-sketch {
       width:90%;
       margin: 5% 5% 5% 5%;
     }

     .logo-png {
       width:80%;
       margin: 0% 10% 10% 10%;
     }

     .conclusion p{
       width:80%;
       margin: 5% 10% 5% 10%;
     }

     .two {
       margin-left: 17%;
     }
     @media (max-width: 680px) {
         .hero-text {
             min-width: 300px;
         }
         .hero-content {
             min-height: 600px;
             background-position: 60% 50%;
         }
         .hero-content img {
             width: 25%;
             height: auto;
         }
         .hero-text h1 {
             font-size: 36px;
         }
         .hero-text h2 {
             font-size: 20px;
             line-height: 26px;
         }
         .hero-text p {
             font-size: 18px;
         }
         .hero-text h1,
         .hero-text h2,
         .hero-text p {
             padding-bottom: 10px;
         }
         h1 {
             font-size: 30px;
       }
         .middle {
           width: 80%;
           margin:10%;
         }

         .middle p {
           font-size: 14px;
         }

         .button a {
             text-decoration: none;
             color: #ffffff;
             background-color: #465D5D;
             border: 3px solid #465D5D;
             padding: 10px 10px;
             font-size: 14px;
             font-weight: 400;
             box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
     }
          .one-third {
            text-align: center;
            width: 30% ;
            margin: 0% 5% 5% 5%;
          }
          .role{
            margin-right: 0%;
            margin-left: 10%;
          }

          .tools {
            margin-right: 10%;
          }

          .one-half {
            width: 60%;
          }

          .right {
            margin-left: 10%;
          }

          .survey img{
            width:70%;
            margin: 2.5% 15% 0% 15%;
          }

          .up {
            display: inline-block;
            width: 80% ;
            margin: 5% 10% 5% 15%;
          }

          .up img{
           padding-left: 20%;
          }

          .uf-img img {

            margin: 2.5% 10% 0% 10%;
          }

          .one-of-three{
            width: 80% ;
            margin: 5% 10% 5% 10%;
          }

          figcaption{
            padding-left: 0%;
          }

          .left-side {
            width:80%;
            margin: 5% 10% 5% 10%
          }
          .right-side{
            width:80%;
            margin: 5% 10% 5% 10%
          }

          .logo-sketch {
            width:90%;
            margin: 5% 5% 5% 5%;
          }

          .logo-png {
            width:80%;
            margin: 0% 10% 10% 10%;
          }

          .conclusion p{
            width:80%;
            margin: 5% 10% 5% 10%;
          }

          .two {
            margin-left: 17%;
          }

          .solution img{
            width: 40%;
            text-align: center;
            margin: 5% 30% 0% 30%;
          }

          .no-mobile {
            display: none;
          }

          .mobile {
            display: inherit;
            text-align: center;
          }
