.container {
  width: 400px;
  grid-template-rows: repeat(292, 1fr);
  grid-template-columns: repeat(115, 1fr);
}

@media (min-width: 600px) {
  .container {
    width: 580px;
}

/* NAVBAR */
.navbar-wrapper {
  background-color: #99B2AF;
  display: grid;
  grid-gap: 0px;
  z-index:1;
}

#nav-logo {
  grid-column: 5/10;
  grid-row: 1;
  justify-content:center;
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.links {
  display: block;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 700;
  grid-column: 80/115;
  grid-row: 1;
  list-style-type: none;
  letter-spacing: 1.5px;
  padding: 20px 0 20;
  position: relative;
}

.navbar-wrapper ul {
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  height: auto;
  letter-spacing: 1.5px;
  list-style-type: none;
  margin: auto;
  padding: 20px 0;
}


.navbar-wrapper ul li {
  color: black;
  display: inline-block;
  height: auto;
  margin-left: 46px;
  padding-top: 5px;
}

#nav-logo {
  float: left;
  height: 40px;
  margin-left: 10px;
  padding-top: 20px;
  width: 120px;
}

.links a {
  color: black;
  display: grid;
  grid-column-start: 90/115;
  text-decoration:none;
}

.nav-hover li:hover {
  border-bottom: 3px solid #000000;
  padding-bottom: 2px;
}

/*HEADER*/
header {
  background: url(../images/background.jpg) center / cover;
  height: 360px;
  padding-bottom: 20px;
  justify-content: center;
  text-align: center;

}

/*TEXT*/

h1{
  color: #000000;
  font-family: Raleway;
  font-size: 60px;
  font-weight: medium;
  text-align: left;
  padding-left: 20px;
}

h2{
  color: #000000;
  font-family: Halant;
  font-size: 40px;
  font-weight: medium;
  padding-left: 20px;
  text-align: center;
}

h4{
  color: #000000;
  font-family: Raleway;
  font-size: 40px;
  font-weight:medium;
  text-align: left;
  grid-column: 5/10;
  padding-left: 20px;
}

p{
  color: #000000;
  font-family: Muli;
  font-size: 40px;
  font-weight:medium;
  text-align: left;
  width:30%;
  grid-column: 5/10;
}



/*button*/
.button {
  background-color: #99B2AF;
}

.button a {
  color:#000000;
  font-family: Raleway;
  font-size: 12px;
  font-weight: medium;
  text-align: center;
  text-decoration:none;
  display: inline-block;
  width:150px;
}

/*SOMETHING*/
body {
  padding-bottom: 5rem;
}

main {
  max-width: 990px;
}
/*CASE STUDY*/

.CaseStudyText-F {
  width:30%;
}
.CaseStudyText-F h2 {
  text-align: center;
  padding: 20% 0% 0% 80%;
}
.CaseStudyText-F p {
  text-align: center;
  padding: 2% 0% 7% 52%;
}
.fruitful-button {
  text-align: center;
  margin: 0% 0% 0% 65%;
}

.CaseStudyText-BB {
  width:30%;
}
.CaseStudyText-BB h2 {
  text-align: center;
  padding: 0% 0% 0% 0%;
}
.CaseStudyText-BB p {
  text-align: center;
  padding: 0% 0% 0% 0%;
}
.BB-button {
  text-align: center;
  margin: 0% 0% 0% 0%;
}


.project img {
  width: 110%;
}

.featured-project {
  width: 120%;
}

/*Footer*/

footer.mdl-mini-footer {
  bottom: 0;
  padding: 0.5rem;
  position: fixed;
  width:100%;
  z-index: 1;
}
footer.mdl-mini-footer > ul {
  margin: auto;
  font-size: 2rem;
}

/*Mobile*/

@media screen and (max-width: 10px) {
  header.mdl-layout__header {
    display: flex;
  }
}


/*OTHER*/

.profile-image {
    position: absolute;
    left: 50%;
    margin-left: -150px;
    margin-top: -250px;
 }

 .profile-image img {
      border-radius: 50%;
      width: 300px;
  }

  .menu-container {
      float: right;
      display: flex;
  }

  .menu-container #main-menu,
  .menu-container > input {
      display: none;
  }

  .menu-container > label {
      display: block;
      font-size: 32px;
      color: #ffffff;
      position: absolute;
      right: 20px;
      width: 36px;
      padding: 0;
      cursor: pointer;
  }

  .menu-container > input:checked + #main-menu {
      display: block;
      clear: both;
      position: absolute;
      right: 0;
      background: #FFFFFF;
      width: 100%;
      margin: 0 auto;
      z-index: 1000;
  }

  .menu-container a {
      text-decoration: none;
      color: #FFFFFF;
      font-size: 16px;
      margin-right: 48px;
  }
